<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{36}- %msg%n</pattern>
        </layout>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>