html, body {
    height: 100%;
}

body {
    margin: 0px;
}

#app {
    height: 100%;
}

.header {
    background-color: rgb(32, 160, 255);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    font-size: 22px;
    line-height: 70px;
    color: #fff;
}

.header .title {
    display: table;
    cursor: pointer;
    margin-left: 20px;
    float: left;
    font-size: 30px;
}

.header .title:hover {
    color: #337ab7;
}

.header .title i {
    font-size: 36px;
}

.header .logo {
    margin-right: 10px;
}

.nav-bar {
    padding-bottom: 20px;
}

.embeded_form {
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 30px;
    border: 1px solid #eaeefb;
    border-radius: 4px;
    transition: .2s;
}
